<hr>
<div class="col-md-4">
  <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar por situação" 
  aria-label="Search" [(ngModel)]="term" (input)="search()">
</div>
<hr>
<div class="row justify-content-md-center">
<div class="card mt-5 ml-5" style="width: 18rem;" *ngFor="let projeto of projetos | sort | filter:term">
  <div class="card-header" style="background-color: rgba(107, 107, 156, 0.747);color:white">
   <strong>{{projeto.id}}</strong>
  </div>
  <div class="card-body">
    <p class="card-text"><strong>Descrição: </strong>{{projeto.descricao}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Viabilidade: </strong>
      {{projeto.viabilidade}}</li>
    <li class="list-group-item"><strong>Data de inicio: </strong>{{projeto.dataInicio}}</li>
    
    <li class="list-group-item" [hidden]="projeto.situacao == 'Planejado'||projeto.situacao == 'Desenvolvimento'"><strong>Data de conclusão: </strong>{{projeto.dataFim}}</li>
    <li class="list-group-item"><strong>Situação: </strong>{{projeto.situacao}}</li>
  </ul>
  <div class="card-body">
    <button [disabled]="projeto.situacao == 'Cancelado'||projeto.situacao == 'Concluido'"
    href="#" class="btn btn-warning" routerLink="{{'/projetos/update/' + projeto.id }}">
      <i class="bi bi-pencil-square"></i></button>
  </div>
</div>
<div class="col-2"></div>
</div>
<hr>